<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add Album</title>
    </head>
    <body>
        <h1>Add Album</h1>
        <form th:action="@{/albums/add}" method="post">
            <label for="albumName">Album Name:</label>
            <input type="text" id="albumName" name="albumName" required>
            <br>
            <label for="releaseYear">Release Year:</label>
            <input type="text" id="releaseYear" name="releaseYear">
            <br>
            <button type="submit">Add Album</button>
        </form>
    </body>
</html>
