<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Modify Album</title>
    </head>
    <body>
        <h1>Modify Album</h1>
        <form th:action="@{/albums/modify}" method="post">
            <input type="hidden" id="albumId" name="albumId" th:value="${album.id}">
            <label for="albumName">Album Name:</label>
            <input type="text" id="albumName" name="albumName" th:value="${album.name}" required>
            <br>
            <label for="releaseYear">Release Year:</label>
            <input type="text" id="releaseYear" name="releaseYear" th:value="${album.releaseYear}">
            <br>
            <button type="submit">Save Changes</button>
        </form>
    </body>
</html>
